<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.snowcattle.game.db.service.jdbc.mapper.OrderMapper">

    <!--批量插入-->
    <insert id="insertOrder" parameterType="order">
        INSERT INTO `t_order_${sharding_table_index}` (order_id, user_id, status)
        VALUES (#{orderId},#{userId},#{status})
    </insert>

    <select id="getOrder" resultType="order" >
        select order_id, user_id, status
        from `t_order_${0}`
        where user_id = #{1} and order_id= #{2}#;
    </select>

</mapper>