<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!--<bean id="Server" class="org.eclipse.jetty.server.Server" init-method="start" destroy-method="stop">  -->
        <!--<property name="connectors">  -->
            <!--<list>  -->
                <!--<bean id="Connector" class="org.eclipse.jetty.server.nio.SelectChannelConnector">  -->
                    <!--<property name="port" value="8080" />  -->
                <!--</bean>  -->
            <!--</list>  -->
        <!--</property>  -->
  <!-- -->
        <!--<property name="handler">  -->
            <!--<bean id="handlers" class="org.eclipse.jetty.server.handler.HandlerList">  -->
                <!--<property name="handlers">  -->
                    <!--<list>  -->
                        <!--<bean class="com.snowcattle.game.db.service.test.jetty.MyHandler" />  -->
                        <!--<bean class="org.eclipse.jetty.server.handler.DefaultHandler" />  -->
                    <!--</list>  -->
                <!--</property>  -->
            <!--</bean>  -->
        <!--</property>  -->
    <!--</bean>  -->
</beans>